<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tx5256utc.tx5256">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Connexion"/>
        <activity android:name=".MedecinFirst"/>
        <activity android:name=".PatientFirst"/>
        <activity android:name=".RendezVous"/>
        <activity android:name=".InfosPerso"/>
        <activity android:name=".Allergies"/>
        <activity android:name=".MAJInfosPerso"/>
        <activity android:name=".Maladies"/>
        <activity android:name=".Traitements"/>
        <activity android:name=".Notes"/>
        <activity android:name=".PoidsTaille"/>
        <activity android:name=".RechercherPatient"/>
        <activity android:name=".ListePatients"/>
        <activity android:name=".SynthesePatient"/>
    </application>

</manifest>
